.resultWrapper {
  text-align: center;
  background: white;
  width: 100%;
  padding: 2rem;
}

.resultTitle {
  font-size: 21px;
}

.view {
  line-height: 47px;
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
}

.followButton {
  line-height: 47px;
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 15%;
}
