.tabHeader {
  overflow: hidden;
  height: 43px;
  background: #EEE;
  border-bottom: 1px solid #E1E1E1;
  font-size: 24px;
}

.goBack {
  margin-top: 8px;
  margin-left: 10px;
}

.positiveAmount {
  color: #EB6841;
}

.negativeAmount {
  color: #888;
}
