.icon {
  height: 2rem;
  margin-right: 5px;
}

.medium {
  height: 2rem;
}

.small {
  height: 1.5rem;
  margin-bottom: 3px;
}

.commentWrap {
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #F0F0F0;
}

.nameWrap {
  color: #999;
  font-size: 14px;
  line-height: 22px;
}

.contentWrap {
  color: #333;
  font-size: 13px;
  line-height: 17px;
}

.imageItem {
  display: inline-block;
  margin: 5px;
}

.image {
  width: 100px;
  height: 100px;
  background-size: cover;
  max-width: 400px;
  border: 1px solid #DDD;
}

.imageWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
