.tabContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: block;
}

.tabHeader {
  overflow: hidden;
  height: 43px;
  background: #EEE;
  border-bottom: 1px solid #E1E1E1;
  font-size: 24px;
}

.tabContent {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 44px;
  bottom: 0;
  background-color: #FFF;
}

.goBack {
  margin-top: 8px;
  margin-left: 10px;
}

.tabNav {
  background: #EEE;
  color: #9B9B9B;
  font-size: 14px;
  text-align: center;
  width: 23%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  float: left;
}

.tabMenu {
  width: 77%;
  background: #FFF;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  float: left;
}

.tabNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabNav li {
  cursor: pointer;
  line-height: 59px;
  border-bottom: 1px solid #E1E1E1;
  margin-right: -1px;
}

.activeTab {
  color: #333;
  background: #FFF;
}

.tabUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabLi {
  display: block;
  overflow: hidden;
  padding: 10px 4%;
}

.tabList h2 {
  font-size: 14px;
  line-height: 14px;
  color: #9B9B9B;
  padding: 15px 0;
}

.tabList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.tabList li {
  float: left;
  width: 33.33333%;
  margin: 5px 0;
}

.tabImg {
  position: relative;
  overflow: hidden;
  padding: 76% 0 0;
  width: 76%;
  margin: 0 auto;
  background: url('./placeholder.png') center center no-repeat #FFF;
  background-size: 45%;
}

.tabList img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
}

.tabDesc {
  line-height: 23px;
  height: 23px;
  padding: 4px 0;
  font-size: 14px;
  color: #5D5D5D;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
