/* eslint-disable * */
.loadingWrap {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.couponListWrap {
  min-height: 300px;
  padding: 10px;
  background: #F2F2F2;
}

.wrap {
  width: 100%;
  padding-bottom: 0;
  border-radius: 0;
  position: relative;
}

.wrap :global .am-modal-content {
  border-radius: 0;
  padding: 0 !important;
}

.wrap :global .am-modal-body {
  background: #F2F2F2;
  padding: 0 !important;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
}

.list {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 180px;
}

.title {
  font-size: 18px;
  color: #333;
  flex-shrink: 0;
  width: 100%;
  padding: 15px;
  background: #F2F2F2;
  text-align: center;
}

.packageName {
  color: #F8873B;
  margin: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #EEE;
  padding-top: 10px;
  background: #F2F2F2;
  flex-shrink: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 150px;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.footerAction {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.footerItem {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.followButton {
  width: 180px;
  line-height: 36px;
  font-size: 14px;
}

.tips {
  font-size: 12px;
  line-height: 16px;
  background: #FEFCEC;
  color: #F76A24;
  padding: 5px;
  border-radius: 3px;
  font-weight: 200;
  margin: 10px;
}

.couponWrap {
  margin-bottom: 20px;
}
