.main {
  padding: 1px 0;
  background: #F2F2F2;
  min-height: 100vh;
}

.title {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: #FFF;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background: #FFF;
}

.itemImageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.itemImageDiv {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
}

.itemWrap {
  display: flex;
  flex-direction: column;
  background: #FFF;
  margin: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px;
}

.itemInnerWrap {
  display: flex;
  flex-direction: row;
}

.itemStatusWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.itemStatus {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  flex-shrink: 0;
  color: #F8873B;
}

.itemTitle {
  flex-grow: 1;
  max-height: 40px;
  line-height: 20px;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-grow: 1;
}

.peopleInfoWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemTime {
  color: #F00;
  margin-top: 10px;
  font-size: 12px;
}

.itemCurrentPeople {
  color: #666;
  margin-top: 5px;
  font-size: 12px;
}

.itemAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 0;
}

.totalPriceWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 0;
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}

.viewDetail {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.9rem;
  border: 1px solid #F8873B;
  color: #F8873B;
  margin-left: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.contactClient {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.9rem;
  border: 1px solid #666;
  color: #666;
  border-radius: 10px;
  cursor: pointer;
}

.itemNeedPeople {
  color: #666;
  margin-top: 5px;
  font-size: 12px;
}

.groupPrice {
  font-size: 12px;
  margin-bottom: 10px;
  color: #666;
}

.itemPrice {
  font-size: 18px;
  color: #F8873B;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
  margin-top: 5px;
}

.productWrap {
  padding-top: 10px;
  padding-bottom: 50px;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  height: 48px;
  line-height: 48px;
  width: 100%;
  background: #FAFAFA;
  color: #333;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.ownerWrap {
  font-size: 12px;
  margin-top: 10px;
  color: #666;
}

.ownerName {
  color: #666;
  margin-left: 5px;
}

:global .am-list-body {
  background: #FFF;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }

  .loginWrap {
    right: auto;
    left: 50%;
    margin-left: 200px;
  }
}
