.main {
  background: #FFF;
}

.homeIcon {
  width: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  background: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.searchInputWrap {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  background: #F6F6F6;
  border-radius: 20px;
  align-items: center;
}

.clearIcon {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  border-radius: 10px;
  background: #BBB;
  color: #FFF;
  margin-left: 10px;
  cursor: pointer;
}

.searchInput {
  flex-grow: 1;
  margin-left: 5px;
  background: transparent;
  border: none;
  color: #333;
  height: 30px;
  line-height: 30px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.searchButton {
  flex-shrink: 0;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  color: #FFF;
  border-radius: 2px;
  line-height: 32px;
  cursor: pointer;
}

.searchButtonDisable {
  flex-shrink: 0;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  color: #F0F0F0;
  background: #999;
  border-radius: 2px;
  line-height: 32px;
  cursor: pointer;
}

.recentSearchTitle {
  margin: 10px;
  color: #666;
}

.recentSearchItemWrap {
  margin: 0 10px;
}

.recentSearchItem {
  display: inline-block;
  padding: 5px 8px;
  background: #F0F0F0;
  color: #AAA;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
