.shareWrap {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-size: 1.2rem;
}

.shareIcon {
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
}

.shareText {
  margin-top: 150px;
  display: inline-block;
  text-align: center;
  padding: 8px;
  width: 200px;
  border: 2px dotted #FFF;
  border-radius: 30px;
  margin-left: 26%;
}
