.main {
  color: #333;
}

.title {
  font-size: 30px;
  color: #108EE9;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 16px;
  color: #333;
  margin: 30px 15px;
  margin-bottom: 15px;
}

.mobileWrap,
.codeWrap {
  display: flex;
  flex-direction: row;
  background: #FFF;
  align-items: center;
}

.codeWrap {
  padding-right: 10px;
}

.getCodeButton {
  flex-shrink: 0;
  width: 120px;
  line-height: 30px;
}

.mobileInputWrap,
.codeInputWrap {
  flex-grow: 1;
}

.countryCodeSelect {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  border: none;
  background-color: #FFF;
  font-size: 16px;
  color: #666;
  appearance: none;
}

.countryCodeSelect::after {
  display: inline-block;
  content: '>';
}

.item {
  margin-top: 20px;
}

.registerWrap {
  margin-top: 50px;
  text-align: center;
}

.loginTips {
  color: #F8873B;
  font-size: 16px;
  margin-bottom: 30px;
}

.registerInput {
  border-bottom: 1px solid #DDD;
  background: transparent;
  margin: 0 10px;
}

.registerButton {
  margin: 20px auto;
  display: block;
  width: 90%;
  line-height: 40px;
}

:global input:-webkit-autofill,
:global textarea:-webkit-autofill,
:global select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:global input[type=text]:focus,
:global input[type=password]:focus,
:global textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.wechatButton {
  background: #51A938;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto;
}

.wechatLogo {
  max-height: 34px;
  margin-right: 10px;
}

.welcome {
  color: #888;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
}

.or {
  text-align: center;
  color: #888;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid #AAA;
  line-height: 0.1rem;
  margin: 30px 0;
}

.or span {
  background: #FFF;
  padding: 0 10px;
}
