:global #app {
  height: 100%;
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  font-size: 15px;
  color: #333;
  line-height: 19px;
  border-bottom: 1px solid #F0F0F0;
}

.backIcon {
  display: flex;
  float: left;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 13.33333vw;
  transition: background 0.3s ease;
  background-color: #FCC949;
  color: white;
  margin-right: 5px;
}

.wrapInner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  height: 36px;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #FFF;
}

.actionWrap p {
  display: inline-block;
}

.detailTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  color: #333;
  margin-top: 20px;
}

.productTitle {
  font-size: 1.4rem;
  color: #333;
  margin: 20px 10px;
}

.detailTitleText {
  flex-grow: 1;
  font-size: 14px;
  color: #666;
}

.detailTitleStatus {
  flex-shrink: 0;
  margin-left: 5px;
  font-size: 11px;
  background: #F8873B;
  padding: 4px 5px;
  border-radius: 4px;
  color: #FFF;
}

.groupDetailWrap {
  margin: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
}

.imageWrap {
  position: relative;
}

.productImage {
  width: 100%;
}

.dealText {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: #EEE;
}

.peopleInfoWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.timeInfoWrap {
  color: #666;
  margin-top: 20px;
  font-size: 14px;
}

.itemLeftTime {
  margin-top: 20px;
  color: #F00;
}

.productPriceInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 20px 10px;
}

.price {
  color: #F8873B;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #F0F0F0;
}

.shareButton {
  display: inline-block;
  background: #F8873B;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  min-width: 90px;
}

.askWrap {
  display: inline-block;
  background: #FFF;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #333;
  text-align: center;
  min-width: 90px;
  border-left: 1px solid #F0F0F0;
}

.askWrap a {
  color: #333;
}

.totalPriceWrap {
  text-align: right;
  font-size: 1.2rem;
  color: #666;
  margin-right: 10px;
}

.priceWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.groupLabel {
  margin: 0 5px;
  display: inline-block;
  padding: 3px 4px;
  border-radius: 3px;
  background: #F8873B;
  color: #FFF;
}

@media screen and (min-width: 600px) {
  .actionWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}
