.item {
  display: flex;
  flex-direction: row;
  background: #FFF;
  cursor: pointer;
  margin: 0 10px 10px;
  padding-right: 10px;
}

.itemImageDiv {
  width: 120px;
  height: 120px;
  background: url('./placeholder.png') center center no-repeat #FFF;
  background-size: 60px;
  background-position: center center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.itemInfo {
  margin-left: 10px;
}

.symbol {
  font-size: 12px;
}

.itemTitle {
  font-size: 13px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 4px 0 8px;
  color: #333;
  font-weight: 400;
}

.itemPriceWrap {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  color: #F8873B;
  font-size: 18px;
  margin-right: 6px;
  font-weight: 200;
}

.buyButton {
  color: #FFF;
  background: #F8873B;
  font-size: 0.9rem;
  border-radius: 3px;
  border: 1px solid #F8873B;
  padding: 3px 5px;
  display: inline-block;
  font-weight: 200;
}

.successDealWrap {
  font-size: 0.9rem;
  color: #FCC949;
}

.itemTwoColumn {
  display: inline-block;
  padding: 0;
  width: 46%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #FFF;
  margin-left: 3%;
  margin-right: 1%;
  box-shadow: 0 0 2px #F0F0F0;
}

.itemTwoColumnWithoutOutMargin {
  width: 47%;
  margin-left: 2%;
  margin-right: 1%;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemTwoColumn .productImage {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.itemTwoColumn .itemTitle {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 6px 8px;
}

.itemTwoColumn:nth-child(even) {
  margin-left: 1%;
  margin-right: 3%;
}

.itemTwoColumnWithoutOutMargin:nth-child(even) {
  margin-left: 1%;
  margin-right: 2%;
}

.itemTwoColumn .itemImageDiv {
  width: 100%;
  background: url('./placeholder.png') center center no-repeat #FFF;
  background-size: 80px;
  background-position: center center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.itemTwoColumn .successDealWrap {
  font-size: 0.9rem;
  display: none;
}

.itemTwoColumn .itemInfo {
  margin: 0;
}

.itemTwoColumn .itemPriceWrap {
  margin: 10px 6px;
}

.itemTwoColumn .itemPrice {
  font-size: 18px;
}

.itemTwoColumn .successDealWrap {
  font-size: 0.7rem;
}

.cnyPrice {
  margin-left: 10px;
  font-size: 12px;
  color: #888;
}

.recommendedTag {
  position: absolute;
  width: 60%;
  height: 60%;
  right: -30%;
  top: -30%;
  color: #FFF;
  font-weight: bold;
  background: #F58848;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.recommendedText {
  margin-top: 78%;
  display: inline-block;
  font-size: 10px;
  font-weight: 200;
  margin-left: 23%;
}

.bigRecommendedText {
  font-size: 13px;
  margin-left: 25%;
}
