.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  background: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.homeIcon {
  width: 20px;
}

.searchInputWrap {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  background: #F6F6F6;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}

.clearIcon {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  border-radius: 10px;
  background: #BBB;
  color: #FFF;
  font-size: 0.8rem;
  margin-left: 10px;
  cursor: pointer;
}

.searchInput {
  flex-grow: 1;
  margin-left: 5px;
  background: transparent;
  border: none;
  color: #333;
  height: 30px;
  line-height: 30px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background: #FFF;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.itemImageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.itemImageDiv {
  width: 150px;
  height: 120px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemInfo {
  margin-left: 10px;
  padding-right: 10px;
}

.itemTitle {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPriceWrap {
  margin-bottom: 20px;
}

.itemPrice {
  color: #F8873B;
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 20px;
}

.title {
  color: #666;
  font-size: 24px;
  margin: 20px 5px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.productWrap {
  padding-bottom: 30px;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.hasMoreWrap {
  text-align: center;
  padding: 20px;
  background: #FFF;
}

.currentWord {
  display: inline-block;
  padding: 0 5px;
  background: #888;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1rem;
}

.listWrap {
  padding-top: 10px;
  background: #F2F2F2;
}

.productWrap {
  background: #F2F2F2;
  min-height: 100vh;
}

:global .am-list-body {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-indicator {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-transition {
  background: #F2F2F2;
}

:global .am-list-body::before {
  display: none !important;
}

:global .am-list-body::after {
  display: none !important;
}

.emptyText {
  color: #666;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}

.moreProductTitle {
  padding-left: 10px;
  line-height: 40px;
  font-size: 1.2rem;
  color: #F8873B;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F2F2F2;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}

