.commonButton {
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  border: none;
}

.commonButton {
  background: #FCC949;
  color: #FFF;
}

.commonButton:hover {
  background: #F8873B;
  color: #FFF;
}

.commonButton:disabled {
  background: #C8C8C8;
  color: #FFF;
}

.contentWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loadingWrap {
  margin-right: 5px;
}

.dark {
  background: #F8873B;
}
