p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  background: #FFF;
  cursor: pointer;
  color: #333;
  margin-bottom: 10px;
}

.itemImageDiv {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemInfo {
  margin-left: 10px;
}

.itemTitle {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPriceWrap {
  margin: 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  color: #F8873B;
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.successDealWrap {
  color: #222;
}

.title {
  color: #666;
  font-size: 24px;
  margin: 20px 5px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.wrap {
  padding-bottom: 50px;
  background: #F2F2F2;
  min-height: 100vh;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.hasMoreWrap {
  text-align: center;
  padding: 20px;
}

.customerIconWrap {
  display: inline-block;
}

.categoryIcon,
.customerIcon {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  margin-left: 12px;
  margin-right: 20px;
}

.customerIcon {
  margin-left: 20px;
  margin-right: 12px;
}

.topWrapBg {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: #F2F2F2;
  z-index: 99;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.searchWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  line-height: 30px;
  flex-grow: 1;
  background: #FFF;
  border-radius: 15px;
  padding: 0 8px;
}

.holder {
  color: #999;
  margin-left: 8px;
}

.topWrap {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.searchWrap {
  flex-grow: 1;
}

.imageUrl {
  width: 100%;
  vertical-align: top;
}

.bannerLink {
  width: 100%;
  height: 175px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bannerImg {
  width: 100%;
  background-size: cover;
}

.bannerWrap {
  margin-top: 60px;
  height: auto;
  position: relative;
}

.newsTitle {
  flex-shrink: 0;
  margin-right: 10px;
}

.toutiao {
  width: 36px;
}

.newsTextHighLight {
  color: red;
}

.newsWrap {
  margin: 10px 12px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 50px;
  border-radius: 5px;
  background: #FFF;
  padding: 0 10px;
}

.newsContentWrap {
  height: 24px;
  flex-grow: 1;
}

.newsItemWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1px 0;
}

.newsItem {
  line-height: 22px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 4px;
  text-decoration: none;
  color: #666 !important;
}

.hotText {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  height: 20px;
  line-height: 18px;
  border: 1px solid #F8873B;
  color: #F8873B;
  padding: 0 2px;
  border-radius: 2px;
  margin-right: 5px;
}

.hotIcon {
  width: 24px;
  height: 24px;
  display: inline-block;
  flex-shrink: 0;
}

.hotTextIcon {
  height: 16px;
  display: inline-block;
  flex-shrink: 0;
  margin-left: 5px;
}

.hotLabel {
  height: 20px;
  display: inline-block;
  margin-left: 5px;
}

.hotTextLabel {
  flex-shrink: 0;
}

.hotSellRecommend {
  line-height: 42px;
  font-size: 1.3rem;
  color: #F8873B;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
}

.layoutSwitch {
  flex-grow: 1;
  text-align: right;
}

.addSelectWrap {
  height: 600px;
}

.categoryWrap {
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
}

.categoryInner {
  margin: 10px;
  text-align: left;
}

.categoryItem {
  display: inline-block;
  width: 50%;
  padding: 5px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  color: #666;
  font-size: 1rem;
  cursor: pointer;
}

.categoryLoadingWrap {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryDetailWrap {
  min-height: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.currentCategory {
  text-align: left;
  line-height: 40px;
  margin: 0 5px;
  color: #F8873B;
  font-size: 1.2rem;
  flex-shrink: 0;
  border-bottom: 1px solid #F0F0F0;
}

.categoryDetailLoadingWrap {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryDetailChildWrap {
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.categoryChildContentItem {
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  color: #888;
}

.categoryChildItem {
  color: #000;
  font-size: 1.1rem;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 10px;
  padding: 10px;
}

.iconHamburgerWrap {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-right: 10px;
}

.iconHamburger {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #DDD;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  width: 20px;
  height: 2px;
  box-shadow: inset 0 0 0 32px #DDD, 0 -8px #DDD, 0 8px #DDD;
}

.iconHamburgerFocus {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #666;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  width: 20px;
  height: 2px;
  box-shadow: inset 0 0 0 32px #666, 0 -8px #666, 0 8px #666;
}

.iconTilesWrap {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.iconTiles {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #DDD;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  width: 4px;
  height: 4px;
  box-shadow: 0 -8px 0 #DDD, -8px -8px 0 #DDD, 8px -8px 0 #DDD, 0 0 0 32px #DDD inset, -8px 0 0 #DDD, 8px 0 0 #DDD, 0 8px 0 #DDD, -8px 8px 0 #DDD, 8px 8px 0 #DDD;
}

.iconTilesFocus {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #666;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  width: 4px;
  height: 4px;
  box-shadow: 0 -8px 0 #666, -8px -8px 0 #666, 8px -8px 0 #666, 0 0 0 32px #666 inset, -8px 0 0 #666, 8px 0 0 #666, 0 8px 0 #666, -8px 8px 0 #666, 8px 8px 0 #666;
}

.itemTwoColumn {
  display: inline-block;
  width: 47%;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
  margin-left: 2%;
  margin-right: 1%;
}

.itemTwoColumn:nth-child(even) {
  margin-left: 1%;
  margin-right: 2%;
}

.itemTwoColumn .itemImageDiv {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}

.itemTwoColumn .successDealWrap {
  font-size: 0.9rem;
}

.itemTwoColumn .itemInfo {
  margin-left: 5px;
  margin-right: 5px;
}

.itemTwoColumn .itemPriceWrap {
  margin: 10px 0;
}

.itemTwoColumn .itemPrice {
  font-size: 18px;
}

:global .am-list-body::before {
  display: none !important;
}

:global .am-list-body::after {
  display: none !important;
}

.listWrap {
  background: #F2F2F2;
}

.productWrap {
  background: #F2F2F2;
}

:global .am-list-body {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-indicator {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-transition {
  background: #F2F2F2;
}

:global .list-view-section-body {
  background: #F2F2F2;
}

.dealGroupWrap {
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 60%;
  overflow: hidden;
}

.dealGroupBg {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.dealGroupContent .dealGroupItemWrap {
  height: 36px;
  overflow: hidden;
}

.dealGroupItemWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dealGroupImage {
  width: 36px;
  height: 36px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #FFF;
  flex-shrink: 0;
}

.dealGroupName {
  color: #FFF;
  height: 36px;
}

@media screen and (min-width: 600px) {
  .tabWrap,
  .topWrap,
  .topWrapBg {
    max-width: 600px;
    margin: 0 auto;
  }
}
