:global #app {
  height: 100%;
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #F0F0F0;
  color: #666;
}

.backIcon {
  display: flex;
  float: left;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 13.33333vw;
  transition: background 0.3s ease;
  background-color: #FCC949;
  color: white;
  margin-right: 5px;
}

.orderNumber {
  flex-grow: 1;
  font-size: 1.2rem;
  color: #333;
}

.status {
  flex-shrink: 0;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #F8873B;
  margin-top: 2px;
}

.wrapInner {
  padding-top: 60px;
  padding-bottom: 38px;
}

.detailTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  color: #333;
  margin-top: 20px;
}

.productTitle {
  font-size: 1.4rem;
  color: #333;
  margin: 20px 10px;
}

.detailTitleText {
  flex-grow: 1;
}

.detailTitleStatus {
  flex-shrink: 0;
  color: #F8873B;
  margin-left: 5px;
}

.imageWrap {
  position: relative;
}

.dealText {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: #F0F0F0;
}

.peopleInfoWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
  color: #666;
  margin-top: 20px;
}

.timeInfoWrap {
  color: #666;
  margin-top: 20px;
  font-size: 1.1rem;
}

.itemLeftTime {
  margin-top: 20px;
  color: #F00;
}

.productPriceInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 20px 10px;
}

.price {
  color: #F8873B;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #F0F0F0;
}

.askWrap a {
  color: #333;
}

.stepWrap {
  padding: 20px 0;
}

.productDetail {
  margin: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.productInfo {
  flex-grow: 1;
  color: #333;
  font-size: 14px;
}

.productImage {
  width: 100px;
  flex-shrink: 1;
  margin-right: 10px;
}

.tagPriceWrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-wrap: nowrap;
}

.priceWrap {
  font-size: 16px;
  color: #F8873B;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productQuantity {
  color: #333;
  font-size: 1.2rem;
}

.paymentWrap {
  margin: 0 10px;
}

.paymentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  color: #999;
  font-size: 12px;
}

.paymentItem {
  text-align: right;
}

.paymentLabelTotal {
  font-size: 15px;
  color: #666;
}

.totalPrice {
  font-size: 16px;
  color: #F8873B;
}

.itemTitle {
  font-size: 18px;
  color: #333;
  margin: 0 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 400;
}

.itemTitle::before {
  content: '';
  display: inline-block;
  width: 1.5px;
  background: #F8873B;
  height: 1.2rem;
  margin-right: 4px;
}

.addressWrap {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-bottom: 10px;
}

.addressItem {
  display: flex;
  flex-direction: row;
  line-height: 1.7rem;
  font-size: 1rem;
  color: #666;
}

.addressLabel {
  min-width: 100px;
  text-align: justify;
  letter-spacing: 2px;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background: #FFF;
}

.payWrap {
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: flex;
  color: #FFF;
  font-size: 14px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 90px;
  border-left: 1px solid #F8873B;
  background: #F8873B;
}

.askWrap {
  height: 36px;
  line-height: 30px;
  text-align: center;
  display: flex;
  color: #FFF;
  font-size: 14px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 90px;
  background: #FCC949;
  border-left: 1px solid #FCC949;
}

.shareButton {
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: flex;
  color: #FFF;
  font-size: 14px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 90px;
  background: #F8873B;
}

:global .am-steps-label-vertical .am-steps-item-content {
  width: 78px;
}

.badge {
  background-color: #F96268;
  color: #FFF;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  max-width: 98%;
  font-size: 0.8rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.actionWrap p {
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .actionWrap {
    max-width: 600px;
    margin: 0 auto;
  }

  .stickyHeader {
    max-width: 600px;
  }
}

.detailedStatus {
  font-size: 1.2rem;
  font-weight: bold;
  background: #F8873B;
  color: white;
  padding: 30px 0 30px 20px;
  margin: -20px 0;
}
