.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.addressListWrap {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  background: #F2F2F2;
}

.addressListEditWrap {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  background: #FFF;
}

.addressActionsWrap {
  background: #FFF;
  border-top: 1px solid #EEE;
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.subTitle {
  padding: 30px 20px;
  font-size: 1.4rem;
  color: #333;
  background: #FFF;
}

.item {
  border-bottom: 1px solid #EEE;
  background: #FFF;
  margin-bottom: 10px;
}

.actionWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
  justify-content: space-around;
}

.reinput {
  margin-right: 50px;
  width: 120px;
}

.finish {
  width: 120px;
}

.title {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #EEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFF;
}

.countryWrap {
  margin: 10px;
  font-size: 1.3rem;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemAddress {
  padding-right: 15px;
}

.addAddress {
  margin-top: 20px;
}

.addressItem {
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
  line-height: 24px;
  background: #FFF;
}

.addressItemHasSelect {
  border-color: #108EE9;
}

.addressContact {
  font-size: 1.5rem;
  margin-right: 20px;
}

.addressTelephone {
  color: #555;
}

.addAddressItemUser {
  margin-bottom: 10px;
}

.isDefault {
  background: #F6ECE4;
  color: #F8873B;
  font-size: 1rem;
  display: inline-block;
  padding: 1px 5px;
  margin-right: 10px;
}

.addressCity {
  margin-right: 10px;
}

.addressPostcode {
  margin-left: 10px;
}

.addressActionsWrap a {
  margin-left: 20px;
}

.loadingWrap {
  position: absolute;
  top: 0;
  border-bottom: 0;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global .am-modal-transparent .am-modal-content {
  border-radius: 0;
}

.cancel {
  color: #333;
}

.tipsWrap {
  margin: 0 10px;
}
