.couponItem {
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.header {
  background: #FFF;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 85px;
}

.rightHeader {
  width: 30%;
  text-align: right;
}

.grayDiscountText {
  color: #AAA;
}

.deadline {
  position: absolute;
  width: 110px;
  height: 110px;
  right: -55px;
  top: -55px;
  color: #FFF;
  font-weight: bold;
  background: #F58848;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.deadlineText {
  margin-top: 83px;
  display: inline-block;
  font-size: 14px;
}

.discountText {
  font-size: 12px;
  margin-top: 5px;
  color: #F2F2F2;
}

.time {
  margin-top: 10px;
  color: #003652;
  font-size: 0.8rem;
}

.title {
  color: #F58848;
  font-size: 3rem;
  text-overflow: ellipsis;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.leftHeader {
  width: 60%;
  text-align: left;
}

.leftHeaderWide {
  width: 100%;
  text-align: left;
}

.name {
  color: #AAA;
  margin-left: 1rem;
  font-size: 1rem;
  margin-bottom: 6px;
}

.infoWrap {
  background: #FFF;
  border-top: 2px dashed #F2F2F2;
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #AAA;
  text-align: left;
  padding: 0.5rem 1.5rem 0.8rem;
  font-size: 10px;
}

.infoLabel {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 5px;
}

.infoDetail {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  text-align: left;
  margin-top: 5px;
}

.used {
  display: inline-block;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 30px;
  z-index: 4;
  right: 20px;
}

.typeDetail {
  display: inline-block;
  margin-right: 5px;
}

.discountTextWrap {
  margin-right: 3px;
}

.currencySymbol {
  font-size: 1rem;
}

.rate {
  font-size: 1rem;
  margin-left: 8px;
}

.discountWrapper {
  vertical-align: bottom;
}
