.couponWrapper {
  background: #F2F2F2;
  padding-bottom: 2rem;
  min-height: 100vh;
  padding-top: 1px;
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #EEE;
  color: #666;
}

.couponListWrap {
  text-align: center;
}

.couponWrap {
  margin: 15px auto;
  vertical-align: middle;
  list-style: none;
  max-width: 95vw;
}

.emptyWrap {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.tipsWrap {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  text-align: center;
  color: #888;
}

.tipsWrap p {
  margin-left: -5%;
}
