.modalContainer :global(.am-modal-content) {
  position: absolute;
  width: 100%;
  height: 85vh;
  bottom: 0;
  padding-bottom: calc(env(safe-area-inset-bottom));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1vw 1vw 0 0;
  overflow: hidden;
}

.modalContainer :global(.am-modal-body) {
  position: absolute;
  width: 100%;
  height: 85vh;
  bottom: 0;
  padding-bottom: calc(env(safe-area-inset-bottom));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1vw 1vw 0 0;
  overflow: hidden;
  font-size: 1rem;
  text-align: left;
}

.headerWrapper {
  margin-top: 3vw;
  padding: 0 2.66667vw 3vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  background: #FFF;
  border-bottom: 1px solid #F0F0F0;
}

.itemImageDiv {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}

.productPrice {
  color: #F8873B;
  font-size: 22px;
}

.saveTips {
  margin-top: 5px;
  color: #108EE9;
}

.selectCount {
  color: #999;
  font-size: 12px;
  line-height: 20px;
}

.bodyWrapper {
  padding: 0 2.66667vw 5.33333vw;
  overflow-y: scroll !important;
  height: 100%;
  flex: 1 1 0%;
}

.propsWrapper {
  margin-top: 2.66667vw;
}

.quantityWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
}

.quantityAdd,
.quantityCount,
.quantityReduce {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  margin: 3px;
}

.quantityCount {
  background: #F0F0F0;
  width: 100%;
  max-width: 50px;
}

.quantityAdd,
.quantityReduce {
  background: #DDD;
}

.quantityControl {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.peopleWrap {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

.peopleAdd,
.peopleCount,
.peopleReduce {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}

.peopleCount {
  background: #F0F0F0;
}

.peopleAdd,
.peopleReduce {
  background: #DDD;
}

.peopleControl {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.tagContainer {
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.propName {
  font-size: 15px;
  text-align: left;
  color: #666;
}

.tagContainer > div {
  margin-right: 9px;
  margin-bottom: 9px;
  overflow: hidden;
}

.tag {
  display: inline-block;
  position: relative;
  font-size: 12px;
  text-align: center;
  padding: 0 15px;
  height: 25px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tagActive {
  background-color: #FCC949;
  color: #FFF;
  border-radius: 3px;
  position: relative;
}

.tagNormal {
  background-color: #F0F0F0;
  color: #666;
  border-radius: 3px;
  position: relative;
}

.actionItemRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaderWrapper {
  text-align: left;
}

.productContent {
  margin-left: 10px;
}

.toKnowWrap {
  margin: 20px 0;
}

.datePicker {
  margin-top: 10px;
}

.datePicker :global(.am-list-line) {
  padding-right: 0 !important;
}

.datePicker :global(.am-list-item) {
  padding-left: 0 !important;
}

.datePicker :global(.am-list-content) {
  font-size: 15px !important;
  color: #888 !important;
}

.serviceChargeWrap {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
  font-size: 15px;
}

.serviceCharge {
  color: #F8873B;
}

.leaderDiscount,
.recommendedProductFreeShipping {
  color: #FCC949;
  font-size: 12px;
  line-height: 20px;
}

.leaderShippingPrice {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

.modalButton {
  width: 93.6vw;
  margin: 2.13333vw auto;
  text-align: center;
  line-height: 36px;
}

.tosWrapper {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  text-align: left;
}

.questionIcon {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.tosModal {
  white-space: pre-wrap;
  height: 80vh;
  text-align: left;
  font-size: 12px;
}

.tosModalWrapper :global(.am-modal-transparent) {
  width: 100%;
}

.tosModalWrapper {
  overflow: scroll;
}

.cnyPrice {
  margin-left: 10px;
  font-size: 11px;
  color: #999;
}

.shippingPrice {
  font-size: 11px;
  color: #999;
}

.shippingPrice {
  color: #F8873B;
  font-size: 12px;
  line-height: 20px;
}

.sponsor {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

.remarkWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 15px;
}

.remarkInput {
  border-radius: 5px;
  border: 1px solid #DDD;
  flex-grow: 1;
  margin-left: 40px;
  height: 36px;
  line-height: 36px;
  color: #333;
  font-size: 14px;
  text-align: right;
}

.buttonWrapper {
  text-align: center;
}

.notice {
  margin: 0 -2.67vw;
}
