.trackingWrapper {
  background: #F0F0F0;
  min-height: 100vh;
  padding-bottom: 20px;
  padding-top: 5px;
}

.statusWrapper,
.trackingNoWrapper,
.tracesWrapper {
  border-radius: 3px;
  padding: 8px;
  background: white;
  margin: 10px 0;
}

.statusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trackingNoWrapper {
  padding-left: 20px;
}

.traces {
  margin-left: 5px;
}
