.main {
  padding: 1px 0;
  padding-bottom: 60px;
  min-height: 100vh;
  background: #F2F2F2;
}

.title {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: #FFF;
  border-bottom: 2px solid #CCC;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background: #FFF;
}

.itemImageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.itemImageDiv {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemWrap {
  display: flex;
  flex-direction: column;
  padding: 6px;
  background: #FFF;
  margin: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.itemInnerWrap {
  display: flex;
  flex-direction: row;
}

.itemStatusWrap {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.itemStatus {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
  color: #FCC949;
  margin-top: 2px;
}

.itemTitle {
  flex-grow: 1;
  max-height: 40px;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderId {
  font-size: 11px;
  color: #999;
  margin-top: 8px;
}

.props {
  font-size: 11px;
  color: #999;
}

.remarkWrap {
  font-size: 11px;
  color: #999;
  margin-top: 8px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-grow: 1;
}

.peopleInfoWrap {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.itemTime {
  color: #F00;
  font-size: 11px;
  margin-top: 8px;
}

.itemCurrentPeople {
  color: #999;
  font-size: 11px;
}

.itemAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

.totalPriceWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 0;
  font-size: 12px;
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666;
}

.makePayment {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  color: #FFF;
  border: 1px solid #F8873B;
  background: #F8873B;
  cursor: pointer;
  margin-left: 10px;
}

.cancelButton {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #666;
  color: #666;
  cursor: pointer;
}

.viewDetail {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #F8873B;
  color: #F8873B;
  cursor: pointer;
  margin-left: 10px;
}

.contactClient {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #666;
  color: #666;
  cursor: pointer;
  margin-left: 10px;
}

.itemNeedPeople {
  margin-left: 10px;
  color: #999;
  font-size: 11px;
}

.singleBuy {
  color: #999;
  margin-top: 5px;
  font-size: 11px;
}

.groupPrice {
  font-size: 12px;
  margin-bottom: 10px;
  color: #666;
}

.itemPrice {
  font-size: 13px;
  color: #666;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.productWrap {
  padding-top: 10px;
  padding-bottom: 50px;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.loginWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.loginTips {
  color: #FFF;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.loginButton {
  width: 80px;
  line-height: 40px;
}

.orderOutWrap {
  background: #F2F2F2;
}

.childOrderWrap {
  margin: 0;
}

.globalOrderWrap {
  border: 1px solid #EEE;
  margin: 10px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
}

.globalOrderNumber {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  background: #FFF;
  margin-left: 10px;
  margin-top: -10px;
  display: inline-block;
  position: absolute;
  padding: 0 5px;
}

.childOrderWrap {
  margin-top: 20px;
}

.childOrderWrap .itemImageDiv {
  width: 76px;
  height: 76px;
}

.childOrderWrap .itemTitle {
  font-size: 13px;
}

.childOrderWrap .itemStatus {
  font-size: 15px;
}

.childOrderWrap .itemWrap:last-child {
  margin-bottom: 10px;
  border-bottom: 0;
}

.parentActionWrap {
  border-top: 1px solid #F0F0F0;
  padding: 10px 5px;
}

.questionIcon {
  width: 12px;
  margin: 0 0 3px 5px;
}

.singleOrderTips {
  padding: 30px;
}

:global .am-tabs-default-bar-tab-active {
  color: #F8873B !important;
}

:global html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
  height: 0 !important;
  display: none !important;
}

:global .am-badge {
  color: #666;
  display: inline-block;
  line-height: 33px;
  border-bottom: 2px solid #FFF;
  font-size: 15px;
}

:global .am-tabs-default-bar-tab-active .am-badge {
  color: #F8873B !important;
  border-bottom: 2px solid #F8873B;
}

:global .am-tabs-default-bar-underline {
  display: none !important;
}

:global .am-tabs-default-bar-tab {
  padding: 0 !important;
  height: 38px;
  line-height: 38px;
}

.newYearBannerWrap {
  margin: 10px 15px 0;
  border-radius: 5px;
}

.newYearBannerWrap img {
  border-radius: 5px;
}

.listWrap {
  min-height: 80vh;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}

