/* eslint-disable * */

.stickyHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 4;
  transition: background 0.3s ease;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.backIcon {
  position: relative;
  float: left;
  display: flex;
  height: 10vw;
  width: 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 13.33333vw;
  transition: background 0.3s ease;
  background-color: #FCC949;
  color: white;
}

.loadingWrap {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage {
  width: 100vw;
  height: 100vw;
  border-bottom: 1px solid #F0F0F0;
  vertical-align: top;
  object-fit: cover;
}

.calcIcon {
  width: 15px;
}

.deliverFeeCalculator {
  color: #888;
  margin: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calculatorLabel {
  margin-left: 3px;
}

.title {
  font-size: 1.4rem;
  color: #333;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  background: #FFF;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemTitle {
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.itemWrap {
  background: #FFF;
}

.priceWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  color: #F8873B;
  font-size: 22px;
  margin-right: 20px;
}

.dealCount {
  font-size: 11px;
  color: #999;
}

.deliverFee {
  color: #999;
  margin: 10px;
  font-size: 12px;
}

.prepareDeliverFee {
  color: #F00;
  margin: 10px;
}

.shareButton {
  flex-shrink: 0;
  width: 50px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
}

.myGroupText {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  flex-shrink: 0;
  color: #F00;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

.itemTitleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.groupTitle {
  padding: 20px 10px;
  color: #F8873B;
  font-size: 13px;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.viewMoreGroup {
  display: inline-block;
  padding: 5px 8px;
  background: #F8873B;
  border-radius: 3px;
  color: #FFF;
}

.groupItem:first-child {
  border-top: 1px solid #F0F0F0;
}

.groupItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
}

.groupName {
  margin-right: 10px;
  font-size: 15px;
  color: #333;
}

.groupInfo {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
  color: #999;
}

.leftTime {
  margin-top: 5px;
  color: #666;
}

.itemDetail {
  margin-top: 20px;
  background: #FFF;
  padding: 10px;
}

.wrapInner {
  padding-bottom: 60px;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #FFF;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.iconWrap,
.iconWrap:hover,
.iconWrap:active,
.iconWrap.visited {
  width: 35%;
  font-size: 11px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 15px;
  margin-left: 3px;
  margin-bottom: 5px;
}

.actionPrice {
  font-size: 22px;
}

.singleBuy {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #FCC949;
  color: #FFF;
  width: 65%;
}

.singleBuyDisable {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #999;
  color: #DDD;
  width: 65%;
}

.startGroup {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #F8873B;
  color: #FFF;
  width: 35%;
}

.startGroupDisable {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #999;
  color: #DDD;
  width: 35%;
}

.skuItem,
.skuItemFocus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid #F0F0F0;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.skuItemFocus {
  border: 1px solid #F8873B;
  font-size: 14px;
  color: #000;
}

.itemDetail {
  padding: 10px;
}

.itemDetail img {
  max-width: 100%;
}

.groupWrap {
  background: #FFF;
}

.allGroupWrap {
  overflow-y: scroll;
}

.productUnActive {
  color: #F00;
  margin: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.category {
  margin: 5px 10px;
  font-size: 11px;
  line-height: 20px;
  color: #999;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

@media screen and (min-width: 600px) {
  .itemWrap {
    position: relative;
  }

  .actionWrap {
    max-width: 600px;
    margin: 0 auto;
  }

  .stickyHeader {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    top: 0;
    left: 0;
  }

  .backIcon {
    height: 40px;
    width: 40px;
  }
}

.cnyPrice {
  margin-left: 10px;
  font-size: 11px;
  color: #999;
}

.source {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 20px;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sourceLabel {
  font-size: 0.9rem;
  color: #666;
  font-weight: bold;
}

.source a {
  display: inline-block;
  background: #FDEBE7;
  color: #F57119;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-left: 3px;
}

.commentTitleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 22px;
  margin-bottom: 10px;
}

.commentContainer {
  background: #FFF;
  padding: 10px;
}

.totalComment {
  color: #333;
  font-size: 14px;
}

.viewMore {
  font-size: 14px;
  color: #F8873B;
}

.allCommentWrap {
  overflow-y: scroll;
  text-align: left;
  padding: 5px 10px 10px;
}

.commentsWrap {
  margin: 0 5px;
}

.hasMoreWrap {
  text-align: center;
  padding: 20px;
  background: #FFF;
}

:global .am-list-body {
  background: #FFF;
}

:global .am-pull-to-refresh-indicator {
  background: #FFF;
}

:global .am-list-body::before {
  display: none !important;
}

:global .am-list-body::after {
  display: none !important;
}

.allCommentWrap :global .list-view-section-body {
  background: #FFF;
}

:global .ReactModalPortal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.divider {
  height: 10px;
  background: #FFF;
}

.joinButton {
  flex-shrink: 0;
  width: 50px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
}
