.wrap {
  overflow-y: scroll;
}

.contentWrap {
  flex-grow: 1;
  overflow-y: scroll;
}

.top {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16px;
}

.bottom {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16px;
}

.topLeft {
  display: inline-block;
  border-top: 8px solid #F00;
  border-left: 8px solid #F00;
  border-right: 8px solid #F2F2F2;
  border-bottom: 8px solid #F2F2F2;
}

.topRight {
  display: inline-block;
  border-top: 8px solid #F00;
  border-left: 8px solid #F2F2F2;
  border-right: 8px solid #F00;
  border-bottom: 8px solid #F2F2F2;
}

.bottomLeft {
  display: inline-block;
  border-top: 8px solid #F2F2F2;
  border-left: 8px solid #F00;
  border-right: 8px solid #F2F2F2;
  border-bottom: 8px solid #F00;
}

.bottomRight {
  display: inline-block;
  border-top: 8px solid #F2F2F2;
  border-left: 8px solid #F2F2F2;
  border-right: 8px solid #F00;
  border-bottom: 8px solid #F00;
}

.content {
  width: 80%;
  margin: 0 auto;
  color: #F00;
  max-height: 100%;
  overflow-y: scroll;
}

.h2 {
  text-align: center;
  margin: 30px 20px;
}

.h3 {
  margin-bottom: 10px;
}

.note {
  background: #FAECD6;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #F8873B;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list li {
  margin: 8px 0;
  font-size: 14px;
}

.icon {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 100px;
  cursor: pointer;
}

.close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
  display: inline-block;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: center;
}

.noticeImg {
  width: 100%;
}
