/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';
import { translate } from 'react-i18next';
{{#if wantCSS}}
import styles from './styles.css';
{{/if}}

class {{ properCase name }} extends React.Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    const { t } = this.props;
    return (
      {{#if wantCSS}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  t: PropTypes.func,
};

export default translate()({{ properCase name }});
