.collectWrapper {
  min-height: 100vh;
  background: #3F3F3F;
  padding-bottom: 1rem;
}

.label {
  font-size: 16px;
  color: #DDD;
  margin: 10px 15px;
  margin-bottom: 15px;
  text-align: center;
}

.mobileWrap {
  display: flex;
  flex-direction: row;
  background: #FFF;
  align-items: center;
  margin-bottom: 15px;
}

.mobileInputWrap {
  flex-grow: 1;
}

.dialCodeSelect {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #666;
  appearance: none;
}

.dialCodeSelect::after {
  display: inline-block;
  content: '>';
}

.item {
  margin-top: 20px;
}

.registerInput {
  border-bottom: 1px solid #DDD;
  background: transparent;
  margin: 0 10px;
}

.homeButton {
  color: #AAA;
  text-align: center;
  font-size: 1rem;
  margin-top: 3rem;
}

.questionIcon {
  width: 12px;
  margin-right: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.questionWrapper {
  text-align: right;
  color: #CCC;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.instructionWrapper {
  text-align: left;
  white-space: pre-wrap;
  line-height: 2;
  font-size: 10px;
}
