.subTitle {
  padding: 30px 20px;
  font-size: 1.4rem;
  color: #333;
  background: #FFF;
}

.item {
  border-bottom: 1px solid #F0F0F0;
  background: #FFF;
  margin-bottom: 10px;
}

.actionWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.reinput {
  width: 120px;
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  color: #333;
}

.finish {
  width: 120px;
  line-height: 40px;
}

.title {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFF;
}

.countryWrap {
  margin: 10px;
  font-size: 1.3rem;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemAddress {
  padding-right: 15px;
}

.main :global input {
  color: #333;
}

.main :global input::-webkit-input-placeholder {
  font-size: 13px;
}

.main :global textarea::-webkit-input-placeholder {
  font-size: 13px;
}

.main :global input {
  font-size: 15px;
  color: #333;
}

.addressModal :global .am-modal-content {
  background: #F2F2F2;
  padding: 0;
}

.addressModal :global .am-modal-content .am-modal-body {
  padding: 0;
}
