/* eslint-disable * */
.tab,
.tabFocus {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  color: #C8C8C8;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.tabFocus {
  color: #F8873B;
  background: #FFF;
}

.homeIconWrap {
  height: auto;
  width: 100%;
  border-top: 1px solid #F2F2F2;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 25px;
  margin-top: 2px;
}

.homeIcon {
  width: 21px;
  margin-top: 4px;
}

