.wrapper {
  display: block;
  width: 100%;
  line-height: 1.5;
}

.time {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: -10px;
  color: #BBB;
  font-size: 11px;
}

.item {
  position: relative;
  display: block;
  flex: 1;
}

.tail {
  position: absolute;
  left: 45px;
  top: 0;
  padding: 22px 0 4px;
  height: 100%;
  width: 1px;
}

.tail::after {
  height: 100%;
  width: 1px;
  left: 0;
  content: '';
  display: inline-block;
  background: #DDD;
  border-radius: 1px;
  transition: background 0.3s;
  position: relative;
}

.icon {
  position: relative;
  line-height: 1;
  background: #888;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  margin-left: 12px;
  margin-top: 5px;
  display: inline-block;
}

.content {
  min-height: 48px;
  overflow: hidden;
  display: block;
  margin-top: 0;
}

.description {
  padding-bottom: 12px;
  font-size: 12px;
  color: #AAA;
  margin-left: 10px;
}

.recent {
  color: #F8873B;
}
