.tips {
  padding-top: 20px;
}

.label {
  font-size: 18px;
  color: #333;
  margin: 20px 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.linkInput {
  border-bottom: 1px solid #DDD;
  background: transparent;
}

.button {
  margin: 40px auto;
  width: 90%;
  line-height: 40px;
  display: block;
  max-width: 400px;
}

:global .am-modal-transparent {
  width: 96%;
}

.request {
  margin-bottom: 20px;
  color: #000;
}

.viewMore {
  text-align: right;
  color: #108EE9;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.subTitle {
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-bottom: 4px;
}

.itemContent {
  font-size: 0.9rem;
  color: #333;
}

.goodRowHead {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.goodRow {
  font-weight: bold;
  text-align: left;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #F0F0F0;
}

.goodRow .goodName {
  display: flex;
  align-items: center;
}

.goodRow .goodImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodName {
  width: 20%;
  padding: 0 3px;
  border-right: 1px solid #F0F0F0;
}

.goodImage {
  width: 30%;
  padding: 0 3px;
  border-right: 1px solid #F0F0F0;
}

.goodImage img {
  width: 94%;
}

.goodTable {
  border: 1px solid #F0F0F0;
}

.goodRow div:last-child {
  border-right: 0;
}

.goodRowHead div:last-child {
  border-right: 0;
}

.needKnow {
  text-align: right;
  color: #F8873B;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
