.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.myInfoWrap {
  background: #F2F2F2;
  min-height: 100vh;
  color: #333;
}

.groupNav {
  padding: 1rem;
  display: flex;
  background: #FFF;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #666;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
}

.hide {
  display: none;
}

.groupNavIcon {
  width: 30px;
}

.loginWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginTips {
  color: #FFF;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.logoutWrap {
  margin: 0 12px;
  margin-bottom: 30px;
}

.logout {
  line-height: 40px;
  display: block;
  width: 100%;
}

.loginButton {
  width: 80px;
  line-height: 40px;
}

:global .am-button {
  color: #FFF;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}

.questionIcon {
  width: 12px;
  margin: 0 0 3px 5px;
  cursor: pointer;
}

.userInfo {
  text-align: center;
}

.userIcon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  margin-top: 30px;
  background: #FFF;
  border: 2px solid #FFF;
}

.userName {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.userPhone {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  background: #333;
  color: #FFF;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.userTab {
  display: flex;
  flex-direction: row;
}

.userTabItem {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userTabBalance,
.userTabCoupon,
.userTabHistory {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.userTabCoupon {
  position: relative;
  min-width: 40px;
  text-align: center;
}

.redDot {
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 4px;
  top: 0;
  right: 0;
}

.userTabSymbol {
  font-size: 12px;
  color: #333;
}

.userTabLabel {
  font-size: 12px;
  color: #999;
  margin-bottom: 15px;
}

.myGroupList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #F2F2F2;
}

.myGroupItem {
  width: 22%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myGroupIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.myGroupItem span {
  color: #999;
  font-size: 12px;
}

.myGroupItemProgressGroup .groupCount {
  display: inline-block;
  color: #FCC949;
  border: 1px solid #FCC949;
  width: 18px;
  line-height: 18px;
  border-radius: 9px;
  background: #FFF;
  height: 18px;
  text-align: center;
  font-size: 11px;
  position: absolute;
  top: -3px;
  right: 20px;
}

.myGroupItemProgressGroup {
  position: relative;
}

.myOrderWrap {
  background: #FFF;
  margin: 0 12px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.myOrderTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  line-height: 38px;
}

.myOrderTopTitle {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.myOrderTopView {
  color: #999;
  font-size: 12px;
}

.actionWrap {
  margin: 0 12px 12px;
  background: #FFF;
  border-radius: 5px;
}

.actionItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 48px;
  border-bottom: 1px solid #F2F2F2;
}

.actionItemLeftIcon {
  width: 20px;
  height: 20px;
}

.followOfficialAccountIcon {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: -1px;
}

.actionItemLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.actionItemRight {
  margin-right: 15px;
}

.actionItemLeftText {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
}

.shareSuggest {
  color: #F8873B;
  font-size: 12px;
  margin-right: 10px;
}

:global .redPacketModal {
  width: auto !important;
}

:global .redPacketModal .am-modal-content {
  background: transparent !important;
}

:global .am-modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.collectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  width: 60px;
}

.unpaidTips {
  margin-bottom: 10px;
}

.loadingIcon {
  text-align: center;
}

.unpaidList :global(.am-list-item) {
  padding-left: 0;
}

.unpaidList :global(.am-list-item) :global(.am-list-line-multiple) {
  padding-right: 0;
}

.unpaidList :global(.am-list-item) :global(.am-list-line) :global(.am-list-content) {
  font-size: 14px !important;
}

.unpaidList :global(.am-list-extra) {
  font-size: 14px !important;
}

.unpaidWrapper :global(.am-modal-transparent) {
  width: 90%;
}
