.title {
  font-size: 30px;
  color: #108EE9;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 18px;
  color: #333;
  margin: 30px 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.mobileWrap,
.codeWrap {
  display: flex;
  flex-direction: row;
  background: #FFF;
  align-items: center;
}

.codeWrap {
  padding-right: 10px;
}

.mobileInputWrap,
.codeInputWrap {
  flex-grow: 1;
}

.countryCodeSelect {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #666;
}

.countryCodeSelect::after {
  display: inline-block;
  content: '>';
}

.item {
  margin-top: 20px;
}

.registerWrap {
  margin-top: 50px;
  text-align: center;
}

.loginTips {
  color: #108EE9;
  font-size: 16px;
}

.registerInput {
  border-bottom: 1px solid #DDD;
  background: transparent;
  margin: 0 10px;
}

.registerButton {
  margin: 30px auto;
  display: block;
  width: 90%;
  line-height: 40px;
}
