.emptyWrap {
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyIcon {
  width: 60%;
  margin: 40px 0;
}

.emptyText {
  color: #333;
}
