.stickyHeader {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px;
  width: 30px;
  z-index: 4;
  transition: background 0.3s ease;
}

.backIcon {
  position: relative;
  float: left;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  transition: background 0.3s ease;
  background-color: #FCC949;
  color: white;
}

.loadingWrap {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage {
  border-bottom: 1px solid #F0F0F0;
  width: 120px;
  height: 120px;
  background-size: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.title {
  font-size: 1.4rem;
  color: #333;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  background: #FFF;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemTitle {
  font-size: 16px;
  margin-right: 10px;
}

.itemWrap {
  background: #FFF;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  font-size: 14px;
}

.priceWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #F8873B;
  font-size: 18px;
  margin-right: 20px;
}

.dealCount {
  font-size: 12px;
  color: #666;
}

.deliverFee {
  color: #108EE9;
  margin: 10px;
}

.shareButton {
  flex-shrink: 0;
  width: 60px;
  text-align: center;
  line-height: 30px;
}

.myGroupText {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  flex-shrink: 0;
  color: #F00;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

.itemTitleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.groupTitle {
  padding: 20px 10px;
  color: #F8873B;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.viewMoreGroup {
  display: inline-block;
  padding: 5px 8px;
  background: #F8873B;
  border-radius: 3px;
  color: #FFF;
}

.groupItem:first-child {
  border-top: 1px solid #F0F0F0;
}

.groupItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  color: #333;
  font-size: 12px;
}

.groupName {
  margin-right: 10px;
  font-size: 15px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupItemAvatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
}

.groupInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
  color: #333;
}

.leftTime {
  margin-top: 5px;
  color: #666;
}

.itemDetail {
  margin-top: 20px;
  background: #FFF;
  padding: 10px;
}

.actionWrap {
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #FFF;
}

.iconWrap,
.iconWrap:hover,
.iconWrap:active,
.iconWrap.visited {
  width: 15%;
  padding: 10px;
  font-size: 11px;
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  width: 15px;
  margin-left: 3px;
  margin-bottom: 5px;
}

.actionPrice {
  font-size: 1.8em;
}

.singleBuy {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #61A4E7;
  color: #EEE;
  width: 35%;
}

.startGroup {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #3B8FE2;
  color: #FFF;
  width: 35%;
}

.skuItem,
.skuItemFocus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid #F0F0F0;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.skuItemFocus {
  border: 1px solid #F8873B;
  font-size: 14px;
  color: #000;
}

.itemDetail {
  padding: 10px;
}

.itemDetail img {
  max-width: 100%;
}

.groupWrap {
  background: #FDEBE7;
  border-radius: 5px;
  margin: 10px;
}

.allGroupWrap {
  overflow-y: scroll;
}

.joinGroupButton {
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  margin: 10px auto;
  display: block;
  width: 90%;
}

.joinGroupButtonDisable {
  border-radius: 5px;
  background: #999;
  color: #DDD;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}

.groupAvatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #CCC;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  background: #FFF;
  color: #666;
}

.isGroupOwner {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  font-size: 0.8rem;
  color: #FFF;
  padding: 2px 3px;
  border-radius: 2px;
  text-align: center;
  background: #FCC949;
}

.grouperOwnerItem .groupAvatar {
  border-color: #FCC949;
  border-style: solid;
  border-width: 2px;
}

.grouperWaitingItem .groupAvatar {
  border-color: #666;
  border-style: dashed;
  border-width: 2px;
  font-size: 1.7rem;
}

.grouperItem {
  margin: 10px 5px;
  position: relative;
  display: inline-block;
}

.currentGrouperWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.joinGroupText {
  text-align: center;
  color: #333;
  font-size: 16px;
  margin: 20px 10px;
}

.loadingWrap {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreProductTitle {
  padding-left: 10px;
  line-height: 40px;
  font-size: 1.2rem;
  color: #F8873B;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F2F2F2;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  background: #FFF;
  cursor: pointer;
  color: #333;
}

.itemImageDiv {
  width: 150px;
  height: 120px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemInfo {
  margin-left: 10px;
}

.itemTitle {
  font-size: 16px;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
}

.itemPriceWrap {
  margin: 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  color: #F8873B;
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.successDealWrap {
  color: #222;
}

.itemTwoColumn {
  display: inline-block;
  width: 47%;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
  margin-left: 2%;
  margin-right: 1%;
}

.itemTwoColumn:nth-child(even) {
  margin-left: 1%;
  margin-right: 2%;
}

.itemTwoColumn .itemImageDiv {
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}

.itemTwoColumn .successDealWrap {
  font-size: 0.9rem;
}

.itemTwoColumn .itemInfo {
  margin-left: 5px;
  margin-right: 5px;
}

.itemTwoColumn .itemPriceWrap {
  margin: 10px 0;
}

.itemTwoColumn .itemPrice {
  font-size: 18px;
}

:global .am-list-body {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-indicator {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-transition {
  background: #F2F2F2;
}

:global .am-list-body::before {
  display: none !important;
}

.cnyPrice {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}

.letMeGroup {
  border-radius: 5px;
  background: #DD3B2F;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}

.backHomeWrap {
  background: #FFF;
  padding: 10px 0;
  text-align: center;
}

.backHomeWrap button {
  width: 90%;
  line-height: 36px;
}

@media screen and (min-width: 600px) {
  .actionWrap {
    max-width: 600px;
    margin: 0 auto;
  }

  .stickyHeader {
    max-width: 600px;
  }
}

