.addressWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
  margin: 1rem 0;
  align-items: center;
}

.consigneeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.countryIcon {
  flex: 1;
}

.addressInfo {
  flex: 7;
  color: #333;
  font-size: 15px;
}
