p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background: #FFF;
}

.itemImageDiv {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemInfo {
  margin-left: 10px;
  padding-right: 10px;
}

.itemTitle {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPriceWrap {
  margin-bottom: 20px;
}

.itemPrice {
  color: #F8873B;
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 20px;
}

.title {
  color: #666;
  font-size: 24px;
  margin: 20px 5px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.productWrap {
  padding-bottom: 50px;
  padding-top: 10px;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.hasMoreWrap {
  text-align: center;
  padding: 20px;
  background: #FFF;
}

.itemTwoColumn {
  display: inline-block;
  width: 47%;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #EEE;
  margin-left: 2%;
  margin-right: 1%;
}

.itemTwoColumn:nth-child(even) {
  margin-left: 1%;
  margin-right: 2%;
}

.itemTwoColumn .itemImageDiv {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}

.itemTwoColumn .successDealWrap {
  font-size: 0.9rem;
}

.itemTwoColumn .itemInfo {
  margin-left: 5px;
  margin-right: 5px;
}

.itemTwoColumn .itemPriceWrap {
  margin: 10px 0;
}

.itemTwoColumn .itemPrice {
  font-size: 18px;
}

.productWrap {
  background: #F2F2F2;
  min-height: 100vh;
}

:global .am-list-body {
  background: #F2F2F2;
}

:global .am-pull-to-refresh-indicator {
  background: #F2F2F2;
}

:global .am-list-body::before {
  display: none !important;
}

:global .am-list-body::after {
  display: none !important;
}

.productItemDate {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 15px;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}
