.qrCodeImage {
  width: 100%;
  max-width: 300px;
}

.highlight {
  color: #EB6841;
  font-weight: 500;
}

.productProps {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}

.remarkWrap {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}

.tips {
  font-size: 1.2rem;
  background-color: #F8873B;
  color: white;
  line-height: 1.5;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

.actionButton {
  width: 200px;
  line-height: 40px;
  text-align: center;
}

.detailTips {
  color: #999;
  font-size: 1rem;
  padding: 10px 0;
}

.total {
  font-size: 18px;
  color: #F8873B;
}

.paymentItem {
  text-align: right;
}

.resultWrapper {
  font-size: 1.1rem;
  text-align: center;
  background: white;
  width: 100%;
  padding: 4rem 2rem;
}

.resultIcon {
  width: 60px;
  height: 60px;
  font-size: 10rem;
}

.resultTitle {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.productDetail {
  margin: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.productImage {
  width: 100px;
  flex-shrink: 1;
  margin-right: 10px;
}

.priceWrap {
  font-size: 22px;
  color: #FCC949;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.productQuantity {
  color: #666;
  font-size: 14px;
}

.totalPriceWrap {
  text-align: right;
  margin-top: 10px;
}

.itemTitle {
  font-size: 1.4rem;
  color: #000;
  margin: 0 10px;
  margin-top: 20px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .actionWrap {
    max-width: 600px;
    margin: 0 auto;
  }

  .stickyHeader {
    max-width: 600px;
  }
}

.actionWrap {
  position: fixed;
  bottom: 0;
  min-height: 60px;
  width: 100%;
  background: #FFF;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.payButtonWrap {
  border-top: 1px solid #EEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.totalPrice {
  text-align: right;
  flex: 2;
  margin-right: 15px;
  font-size: 1.2rem;
  padding: 5px 0;
}

.buttonWrap,
.balanceButtonWrap {
  height: 60px;
  font-size: 1.2rem;
  border-radius: 0 !important;
  min-width: 120px;
}

.balanceWrap :global(.am-list-item) {
  background: #EEE !important;
}

.updatedBalance {
  color: #EB6841;
}

.balanceButtonWrap {
  background: #F8873B;
}

.buttonWrapWithUnPaid {
  height: 70px;
  font-size: 1.2rem;
  border-radius: 0 !important;
  min-width: 120px;
}

.about {
  margin-top: 5px;
  color: #AAA;
  font-size: 12px;
}

.payButton {
  color: white;
  border-radius: 0;
}

.buttonWrap :global(.am-button)::before {
  border: none !important;
}

.deliveryTips {
  color: #666;
  line-height: 1.5;
}

.multipleOrderTips {
  color: #F00;
}

.rightArrowIcon {
  font-size: 1rem;
  height: 22px;
  flex: 2 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
}

.cnyPrice {
  margin-left: 10px;
  font-size: 12px;
  color: #888;
}

.deliveryTips {
  color: #888;
}

.multipleOrderTips {
  color: #F00;
}

.orderIdWrap {
  margin: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  color: #666;
}

.paymentItem {
  color: #F8873B;
}

.wrap {
  padding-bottom: 120px;
}

.feeWrapper {
  border-top: 1px solid #F0F0F0;
}

.productInfo {
  flex-grow: 1;
  color: #333;
}

.totalWrapWithUnPaid {
  color: #999;
  line-height: 20px;
  font-size: 1rem;
}

.totalWrapWithUnPaid .total {
  font-size: 1.1rem;
}

.discountAmount {
  color: #F91100;
}

.unPaidShippingTipsWrap {
  border: 1px solid #F91100;
  height: 60px;
  border-radius: 60px;
  line-height: 30px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unPaidTipsIcon {
  height: 50px;
  line-height: 50px;
  font-size: 44px;
  width: 50px;
  color: #FFF;
  border-radius: 25px;
  display: inline-block;
  flex-shrink: 0;
  background: #F91100;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.unPaidTipsText {
  flex-grow: 1;
  line-height: 26px;
  padding: 4px 10px 4px 0;
  color: #F91100;
  font-weight: bold;
  font-size: 0.9rem;
}

.couponName {
  margin-right: 10px;
}

.couponItem {
  font-size: 15px;
}

.couponAbout {
  color: #AAA;
  font-size: 13px;
  margin-left: 10px;
}

.couponDiscount {
  color: #F91100;
  margin-left: 10px;
}
