.rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 10px 0;
}

.modalContainer {
  width: 95% !important;
}

.label {
  width: 20%;
}

.weight,
.fee {
  font-size: 16px;
}

.fee {
  color: #F8873B;
}

.weight {
  width: 20%;
  text-align: right;
}
