.title {
  font-size: 30px;
  color: #108EE9;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 16px;
  color: #333;
  margin: 30px 15px;
  margin-bottom: 15px;
}

.mobileWrap,
.codeWrap {
  background: #FFF;
  align-items: center;
}

.mobileWrap {
  display: flex;
  flex-direction: row;
}

.codeWrap {
  padding-right: 0;
}

.mobileInputWrap,
.codeInputWrap {
  flex-grow: 1;
}

.item {
  margin-top: 20px;
}

.registerWrap {
  margin-top: 60px;
  text-align: center;
}

.loginTips {
  color: #AAA;
}

.registerTips {
  color: #F8873B;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.forgotPassword {
  text-align: center;
  margin-top: 30px;
}

.eg {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}

.loginInput {
  border-bottom: 1px solid #F0F0F0;
  background: transparent;
  padding: 0 10px;
}

.loginButton {
  display: block;
  margin: 20px auto;
  width: 90%;
  line-height: 40px;
  margin-top: 40px;
}

.welcome {
  color: #888;
  text-align: center;
  font-size: 16px;
}

.or {
  text-align: center;
  color: #888;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid #AAA;
  line-height: 0.1rem;
  margin: 30px 0;
}

.or span {
  background: #FFF;
  padding: 0 10px;
}

.wechatButton {
  background: #51A938;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto 40px;
}

.wechatLogo {
  max-height: 34px;
  margin-right: 10px;
}

.infoTips {
  margin-top: 20px;
}

.countryCodeSelect {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #666;
  appearance: none;
}

.countryCodeSelect::after {
  display: inline-block;
  content: '>';
}

:global input:-webkit-autofill,
:global textarea:-webkit-autofill,
:global select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:global input[type=text]:focus,
:global input[type=password]:focus,
:global textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
