.money {
  white-space: pre;
}

.originalPrice {
  text-decoration: line-through;
  margin-right: 5px;
  word-break: keep-all;
}

.discountPrice {
  color: #BD402C;
  font-weight: 500;
  word-break: keep-all;
}

@media (max-width: 600px) {
  .originalPrice {
    margin-right: 0;
  }

  .discountPrice {
    display: block;
  }
}

.smallSpace {
  margin: 0 1px;
}
