.backIcon {
  position: relative;
  float: left;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  transition: background 0.3s ease;
  background-color: #FCC949;
  color: white;
}
