.main {
  padding-bottom: 50px;
}

.bannerLink {
  width: 100%;
  height: 175px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bannerImg {
  width: 100%;
  background-size: cover;
}

.bannerWrap {
  height: auto;
  position: relative;
}

.close {
  width: 60px;
}

.moreWrap {
  position: fixed;
  bottom: 0;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.moreButton {
  width: 200px;
  text-align: center;
  line-height: 40px;
}

:global .am-tabs-default-bar-tab-active {
  color: #F8873B !important;
}

:global html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
  height: 0 !important;
  display: none !important;
}

:global .am-badge {
  color: #666;
  display: inline-block;
  line-height: 44px;
  border-bottom: 2px solid #FFF;
  font-size: 16px;
}

:global .am-tabs-default-bar-tab-active .am-badge {
  color: #F8873B !important;
  border-bottom: 2px solid #F8873B;
  font-weight: bold;
  font-size: 16px;
}

:global .am-tabs-default-bar-underline {
  display: none !important;
}

:global .am-tabs-default-bar-tab {
  padding: 0 !important;
  height: 48px;
  line-height: 48px;
}

:global .list-view-section-body {
  background: #F2F2F2;
  padding: 10px 0;
}
