.main {
  background: #F9F1EA;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #F3D0B5;
  color: #F8873B;
  font-size: 1rem;
  line-height: 16px;
}

.loadingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  line-height: 24px;
}
