/* Global styles */

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', -apple-system, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}

:global(#app) {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF;
  min-height: 100vh;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 0 auto;
  }

  html {
    background: #EEE;
  }
}

:global(.ril__outer) {
  background-color: #000;
}

:global .am-modal-button {
  color: #F8873B !important;
}

.qrWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  text-align: center;
  min-height: 100vh;
  background: url(./bg.jpg) no-repeat center center;
  background-size: cover;
}

.qrCodeTips {
  padding-top: 10vh;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  color: #FFF;
}

.qrCode {
  text-align: center;
  background: url(./qr_bg.png) no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vw;
  max-height: 400px;
  max-width: 400px;
  margin: auto;
}

.qrImg {
  margin-top: 43%;
  margin-left: 1%;
  height: 35% !important;
  width: 35% !important;
}

.tutorialWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  z-index: 9998;
  top: 0;
  left: 0;
}

.countryPickerWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  z-index: 999999;
  top: 0;
  left: 0;
  padding: 3rem;
}

.countryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.countryPickerTitle {
  font-size: 22px;
  margin-bottom: 2rem;
}

.countryName {
  margin-left: 15px;
  font-size: 20px !important;
}

.tutorialItem {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorialItemImg {
  max-width: 90%;
  max-height: 80%;
}

.skip {
  position: fixed;
  width: 80%;
  bottom: 50px;
  left: 10%;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  z-index: 9999;
}

.errorBoundaryWrapper {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  background: rgb(242, 242, 242);
  height: 100vh;
  line-height: 2;
}

.errorBoundaryImgWrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorBoundaryImg {
  width: 60%;
  margin: 40px 0;
}
