.main {
  padding: 1px 0;
  padding-bottom: 60px;
}

.title {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: #FFF;
  border-bottom: 2px solid #CCC;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background: #FFF;
}

.itemImageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.itemImageDiv {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.itemWrap {
  display: flex;
  flex-direction: column;
  background: #FFF;
  margin: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.itemWrap:first-child {
  margin-top: 10px;
}

.itemWrap:last-child {
  margin-bottom: 20px;
}

.itemInnerWrap {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.itemStatusWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  border-bottom: 1px solid #F2F2F2;
  font-size: 15px;
}

.orderIcon {
  width: 20px;
  margin-right: 5px;
}

.itemTitle {
  display: flex;
  align-items: center;
}

.itemStatus {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  flex-shrink: 0;
  color: #F8873B;
}

.itemTitle {
  flex-grow: 1;
  max-height: 40px;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderId {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}

.props {
  font-size: 10px;
  color: #999;
}

.remarkWrap {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  flex-grow: 1;
}

.peopleInfoWrap {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.itemTime {
  color: #F00;
  font-size: 11px;
  margin-top: 5px;
}

.itemCurrentPeople {
  color: #999;
  font-size: 10px;
}

.itemAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0;
  padding: 0 5px;
}

.totalPriceWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 12px 5px 5px;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  color: #333;
}

.totalPrice {
  color: #F8873B;
  font-size: 16px;
  margin-bottom: -2px;
}

.makePayment {
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  color: #FFF;
  border: 1px solid #F8873B;
  background: #F8873B;
  cursor: pointer;
  margin-left: 10px;
}

.cancelButton {
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #666;
  color: #666;
  cursor: pointer;
}

.viewDetail {
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #F8873B;
  color: #F8873B;
  cursor: pointer;
  margin-left: 10px;
}

.contactClient {
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid #666;
  color: #666;
  cursor: pointer;
  margin-left: 10px;
}

.itemNeedPeople {
  margin-left: 10px;
  color: #999;
  font-size: 10px;
}

.singleBuy {
  color: #999;
  margin-top: 5px;
  font-size: 10px;
}

.quantity {
  font-size: 10px;
  margin-bottom: 10px;
  color: #999;
  margin-top: 5px;
}

.itemPrice {
  font-size: 12px;
  color: #333;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.productWrap {
  padding-top: 10px;
  padding-bottom: 50px;
}

.tabWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F9F9F9;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.loginWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginTips {
  color: #FFF;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.loginButton {
  width: 80px;
  line-height: 40px;
}

.orderOutWrap {
  margin-bottom: 100px;
}

.childOrderWrap {
  margin: 0;
}

.childOrderWrap {
  margin-top: 20px;
}

.childOrderWrap .itemImageDiv {
  width: 50px;
  height: 50px;
}

.childOrderWrap .itemTitle {
  font-size: 13px;
}

.childOrderWrap .itemStatus {
  font-size: 15px;
}

.childOrderWrap .itemWrap:last-child {
  margin-bottom: 10px;
  border-bottom: 0;
}

.parentActionWrap {
  border-top: 1px solid #F0F0F0;
  padding: 10px 5px;
}

.questionIcon {
  width: 12px;
  margin: 0 0 3px 5px;
}

.singleOrderTips {
  padding: 30px;
}

@media screen and (min-width: 600px) {
  .tabWrap {
    max-width: 600px;
    margin: 0 auto;
  }
}
