.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #EEE;
  color: #666;
}

.recordsWrapper {
  padding-top: 50px;
  background: #F4F4F4;
  min-height: 100vh;
  padding-bottom: 10px;
}

.date {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 10px;
  color: #888;
  font-size: 1.1rem;
}

.productWrapper {
  display: inline-block;
  width: 33%;
  background: #FFF;
  margin: 0.5% 0;
  padding: 0 0 10px;
  cursor: pointer;
}

.productImg {
  width: 100%;
}

.productLabel {
  margin-left: 15px;
  margin-top: 10px;
  color: #F8873B;
}

.middleProduct {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.empty {
  margin: 15px;
  font-size: 1.1rem;
}
